<div class="container-fluid">
  <div class="row">
    <div class="jumbotron">
      <h1 class="display-3">Retrospective Round Table</h1>
      <p class="lead">A scrum masters' tool to randomize who's turn it is to talk in a round table discussion with a timer to track how long each person talks.</p>
      <hr class="my-4">
      <p>Lorum ipsum dolor sit amet. {{title}} <i class="fa fa-check"></i></p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>

  <!-- Setup -->
  <div class="row">

    <div class="col">
      <form>
        <div class="form-group">

        </div>
        <div class="form-group">
          <label for="talkTime">Talk time</label>
          <input type="text" class="form-control" id="talkTime" aria-describedby="talkTimeHelp"/>
          <small id="talkTimeHelp" class="form-text text-muted">Set how long a team member is supposed to talk</small>
        </div>
      </form>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <button (click)="startSpin()" type="button" class="btn btn-primary">Spin!</button>
      <button (click)="resetWheel()" type="button" class="btn btn-danger">Reset</button>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <canvas id='canvas' width='600' height='600'></canvas>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
